*{
  box-sizing: border-box;
}
body{
background-color: #6f1223;
}
.navbar{
  background-color:#f6b319;
}
section{
  padding-left:3px;
  padding-right: 3px;
}
.item{
  padding-left:20px;
  padding-right:20px;
  padding-top: 3px;
  background-color:rgb(100,100,100);
}
h3{
  color:red;
  font-weight:750;
}
.description{
  color:white;
  font-size: 18px;
  font-weight:500;
  font-style: italic;
}
p>a{
  color:maroon;
}
div.container>h1{
  font-weight:1000;
  color:green;
}
/*#chick>a.hover{
  makeActive("chick");
}
#bee>a.hover{
  makeActive("bee");
}
#sush>a.hover{
  makeActive("sush");
}*/